<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>{{ todo.content }}</h1>
      <p>{{ todo.created_at }}</p>
      <p>{{ todo.updated_at }}</p>
      <p>{{ todo.user.username }}</p>
    </div>
    <a href="/todo/update/{{ todo.id }}/">
      <button>Edit</button>
    </a>
    <a href="/todo">
      <button>Back to Todo List</button>
    </a>
    <form action="/todo/delete/{{ todo.id }}/" method="post">
      {% csrf_token %}
      <button>Delete</button>
    </form>
  </body>
</html>
