<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Todo의 Index 입니다</h1>
    {% if request.user.is_authenticated %}
    <div>{{ request.user.username }}</div>
    <form action="/user/logout/" method="post">
      {% csrf_token %}
      <button>Logout</button>
    </form>
    {% else %}
    <div>
      <a href="/user/login">Login</a>
      <a href="/user/signup">Signup</a>
    </div>
    {% endif %}
    <a href="/todo/create">
      <button>Write New Todo List</button>
    </a>
    <ul>
      {% for todo in todos %}
      <a href="/todo/{{ todo.id }}">
        <li>{{ todo.content }}</li>
      </a>
      {% endfor %}
    </ul>
  </body>
</html>
